body {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

h1 {
  margin-top: 50px !important;
  background-color: rgb(238, 238, 201);
  padding: 10px;
  border-radius: 5px;
}

img {
  height: 350px !important;
  border-radius: 5px;
  width: 100%;
}
